<html lang="en" class="no-js">
<head>
<title>x</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta name="keywords" />
<meta name="description" />
<meta name="robots" content="index,follow" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" media="all" href="/stylesheets/BDR_reset.css" />
<link rel="stylesheet" media="all" href="/stylesheets/BDR_module.css" />
<link rel="stylesheet" media="all" href="/stylesheets/BDR_main.css" />
<link rel="stylesheet" media="print" href="/stylesheets/BDR_print.css" />
<link rel="stylesheet" media="screen" href="/stylesheets/plugins/jquery.fancybox-1.3.1.css" />
<link rel="stylesheet" media="screen" href="/stylesheets/plugins/flexslider.css" />
<!--[if lt IE 9]>
<script src="/scripts/plugins/html5shiv.js"></script>
        <![endif]-->
<script src="/scripts/plugins/modernizr.min.js"></script>
<script type="text/javascript">
loggedin = "{module_isloggedin}";
document.title="BD Responsive | {module_pagename}";
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'PUT YOUR DANG GOOGLE ANALYTICS ASSET TAG HERE']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div class="Wrap">
  <header class="header">
    <div class="wrap-inner">
      <div class="Top_nav"></div>
      <br class="c-z" />
    </div>
    <br class="c-z" />
  </header>
  <section class="Sub">
    <div class="wrap-inner sub">
        <div class="page-body">{tag_pagecontent}</div>
      <br class="c-z" />
    </div>
    <br class="c-z" />
  </section>
  <div class="push"></div>
</div>
<footer class="footer">
  <div class="wrap-inner">
    <div class="Bottom_nav s-nav"></div>
  </div>
</footer>
<script src="/scripts/jquery-1.7.2.min.js"></script> 
<script src="/scripts/plugins/jquery.flexslider-min.js"></script> 
<script src="/scripts/plugins/jquery.easing-1.3.pack.js"></script> 
<script src="/scripts/plugins/jquery.fancybox-1.3.1.js"></script> 
<script src="/scripts/plugins/jquery.cj-object-scaler.js"></script> 
<!--[if lt IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
        <![endif]--> 
<script src="/scripts/BDR_main.js"></script>
</body>
</html>